*{
  /*Clears the preapplied margins and paddings. In other words: resets.*/
  margin: 0;
  padding: 0;
}

body {
  width: 100wh;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  font-family: sans-serif;
}

.calculator {
  width: 400px;
  height: 400px;
  border-radius: 7px;
}

.display {
  width: 100%;
  height: 80px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 50px;
  background-color: white;
  text-align: right;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
} 

.row{
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 25px;
  background-color: grey;
  color: #fff;
  cursor: pointer;
}

.calculatorFunc{ 
  background-color: orange;
  color: #fff;
}
